* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.nav2{
    border-bottom: none;
}

.active_nav {
    background-color: #1493C6;
}

.logo{
    height: 45px;
    margin-left: 100px;
    margin-right: 100px;
}

.navItem1{
    margin: 20px 25px 7px 25px;
}

.navItem1 a{
    color: white;
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
}

.navItem1 a:hover{
    color: #aaa7a7;
    transition: 0.5s;
}

.desplegable{
    background: #1493C6;
    border-radius: 0%;
    border: none;
    transition: 2s;
}

.desplegable li a{
    color: white;
}

.desplegable li a:hover{
    color: #aaa7a7;
}

.navItem2{
    margin: 10px 2% 10px 20%;
}

.navItem2 a{
    border: solid 2px white;
    fill: white;
    object-fit: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 6px;
    padding-top: 3px;
}

.navItem2:hover a{
    fill: #1493C6; 
    background-color: white;
    fill: #1493C6;
    border: none;
    padding: 5px;
}

.navItem2:hover{
    transition: 0.5s; 
}

.navItem3{
    margin: 10px 10% 10px 2px;
}

.navItem3 a{
    object-fit: cover;
    border: solid 2px white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 6px;
    padding-top: 3px;
    fill: white;
}

.navItem3:hover a{
    border: none;
    padding-top: 5px;
    background-color: white;
    fill: #1493C6;
}

.navItem3:hover{
    transition: 0.5s; 
}

.flecha{
    height: 45px;
    width: 45px;
}

.textoFotoPortada{
    color: white;
    text-shadow: 1px 1px 4px black;
    position: absolute;
    margin-top: -400px;
    text-align: center;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    font-weight: bold;
}

.textoFotoPortada img{
    height: 100px;
    margin-left: 40%;
    margin-bottom: 20px;
    display: block;
}

.informacion{
    color: white;
    font-size: 22px;
    font-weight: 50px;
    height: 50px;
    width: 170px;
    position: absolute;
    background: none;
    border: solid 2px white;
    border-radius: 5%;
    margin: -180px 42% 0px 43%;
}

.informacion:hover{
    transition: 0.5s;
    background-color: #1493C6;
    border: none;
    color: white; 
}

#btnWhatsApp{
position: fixed;
bottom: 40px;
right: 40px;
height: 50px;
width: 50px;
line-height: 45px;
text-align: center;
color: #fff;
z-index: 1000;
background-color: #00CD54;
border-radius: 50%;
cursor: pointer;
}

#btnWhatsApp:hover{
    bottom: 38px;
    transition: 0.5s;
}

.circles{
    height: 720px;
}

.circlesCards{
    display: flex;
    justify-content: space-evenly;
}

.card1{
    margin-top: 150px;
    margin-bottom: 100px;
    border: none;
    align-items: center;
    text-align: center;
}

.btnCircles{
    text-decoration: none;
    color: black;
}

.btnCircles:hover{
    color: black;
    opacity: 70%;
}

.btnCircles h5:hover{
    text-decoration: none;   
}

.card1 img{
    border-radius: 50%;
    height: 170px;
    width: 170px;
}

.card1 p{
    font-size: 14px;
}

.informacion2{
    color: #1493C6;
    font-size: 22px;
    font-weight: 50px;
    height: 50px;
    width: 170px;
    position: absolute;
    background: none;
    border: solid 2px #1493C6;
    border-radius: 5%;
    margin: -160px 40% 0px 44%;
}

.informacion2:hover{
    background-color:#1493C6;
    border: none;
    color: white; 
}

#scott{
    height: 500px;
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("../images/pexels-scott-webb-137602.jpg") ; }


.beneficios{
    height: 1100px;
}

.beneficiosH2{
    text-align: center;
    margin-top: 140px;
    font-size: 28px;
}

.card2{
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    align-items: center;
    text-align: center;
}

.card2 img{
    height: 160px;
    width: 140px;
}

.card1 p{
    font-size: 14px;
}

#scott2{
    height: 500px;
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("../images/pexels-pixabay-356049.jpg"); }

.soluciones{
    height: 600px;
}

#solucionesSegmento{
    position:absolute;
    margin-top: -50px;
}

.solucionesH2{
    text-align: center;
    margin-top: 120px;
    font-size: 28px;
}

.cards3Soluciones{
    display: flex;
    justify-content: space-evenly;
}

.card3{
    margin-top: 150px;
    margin-bottom: 100px;
    border: none;
    align-items: center;
}

.barra{
    height: 50px;
    width: 180px;
    border-radius: 4%;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    color: white;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 12px;
}

.barra1{
    background-color: #1493C6;
    z-index: 10;
}

.barra2{
    background-color: #5EB5F4;
    z-index: 10;
}

.barra3{
    background-color: #86C7F6;
    z-index: 10;
}

.barra4{
    background-color: #0077C1;
    z-index: 10;
}

.barra5{
    background-color: #F4F4F4;
    position: absolute;
    height: 50px;
    width: 100px;
    border-radius: 4%;
    clip-path: polygon(0% -50%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
    color: rgba(255, 255, 255, 0);
    padding-top: 15px;
    font-size: 10px;
    color: #1493C6;
    text-decoration: none;
    margin-left: 60px;
}

.containerContacto{
    display: flex;
}

.bloque1{
    width: 50%;
    height: 600px;
}

.bloque1 img{
    width: 200%;
    height: 600px;
}

.bloque2{
    background-color: white;
    width: 50%;
    height: 600px;
}


.contactoH2{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 28px;
    color: black;
}

.contact-form form {
    display: block;
    align-items: center;
    text-align: center;
}

.contactop {
    width: 80%;
    margin-left: 10%;
}

.contactop input{
    width: 100%;
    height: 40px;
}

.contactoM{
    margin-left: 10%;
    width: 80%;
}

.contactoM textarea{
    width: 100%;
}

.btnContacto{
    width: 80%;
    background-color: #1493C6;
    border: none;
}

.btnContacto:hover{
    background-color: #0077C1;
}

.CamposObligatorios{
    color: #626262;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0;
    margin-left: 7px;
}

#correo{
    opacity: 0;
}

footer{
    margin-top: 0;
    height: 400px;
    background-color: #F4F4F4;
}

.logo2{
    height: 45px;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 50px;
}

.aFooter{
    font-size: 12px;
    text-decoration: none;
    display: block;
    color: #7F7F7F;
    margin-left: 107px;
    margin-top: 20px;
    width: 100px;
}

.aFooter2{
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin-left: 25%;
    color: #7F7F7F;
    font-size: 17px;
    margin-top: -35px;
    margin-bottom: 50px;
}

.aFooter:hover{
    cursor: pointer;
    color: #525151;
}

.aFooter2 div a svg {
    margin: 0px 30px 0px 25px;
}

.aFooter2 div a svg:hover{
    cursor: pointer;
    color: #686767;
}

.manu1{
    margin-bottom: 0;
    display: block;
    text-decoration: none;
    color: #686767;
}

.manu1:hover{
    color: #525151;
}

.manu2{
    margin-top: 0;
    display: block;
    text-decoration: none;
    color: #686767;
}

.manu2:hover{
    color: #525151;
}

.derechos{
    font-size: 14px;
    color: #7F7F7F;
    margin-bottom: 20px;
}

.conteinerPortadaNosotros{
    height: 590px;
}

.imgNosotros{
    width: 100%;
    object-fit: contain;
}

.containerSomos{
    height: 800px;
    margin-top: 20px;
}

.containerSomos h3{
    margin-top: 100px;
    margin-bottom: 50px;
}

.containerSomos p{
    margin-bottom: 50px;
    font-size: 20px;
}

.fotovoltaica{
    margin-top: 150px;
    margin-bottom: 100px;
}

.containerOnGrid{
    display: flex;
}

.mitad1{
    width: 43%;
    height: 750px;
}

.mitad2{
    width: 50%;
    height: 750px;
}

.texMarg{
    padding-left: 50px;
    margin-left: 30px;
}

.ongridFoto1{
    height: 340px;
    margin: 65px 10px 100px 160px;
}

.mitad2 h3{
    font-size: 32px;
    margin-bottom: 20px;
}

.mitad2 p{
    font-size: 19px;
}

.mitad3{
    width: 40%;
    height: 750px;
    margin-top: 150px;
}

.mitad4{
    width: 50%;
    height: 750px;
    margin-top: 150px;
    margin-left: 160px;
}

.ongridFoto3{
    height: 590px;
    margin: 65px 10px 100px 50px;
}

.mitad4 h3{
    font-size: 32px;
    margin-bottom: 20px;
}

.mitad4 p{
    font-size: 19px;
}

.mitad5{
    width: 43%;
    height: 750px;
    margin-top: 150px;
}

.mitad6{
    width: 50%;
    height: 750px;
    margin-top: 150px;
}

.ongridFoto5{
    height: 260px;
    margin: 65px 10px 100px 160px;
}

.mitad6 h3{
    font-size: 32px;
    margin-bottom: 20px;
}

.mitad6 p{
    font-size: 19px;
}

.informacion3{
    color: #1493C6;
    font-size: 22px;
    font-weight: 50px;
    height: 50px;
    width: 170px;
    background: none;
    border: solid 2px #1493C6;
    border-radius: 5%;
    margin: 10px 40% 150px 44%;
}

.informacion3:hover{
    transition: 0.5s;
    background-color: #1493C6;
    color: white; 
}

.termotanqueInicio{
    width: 100%;
}

.termotanques{
    margin-top: 150px;
    margin-bottom: 100px;
}

.termo1{
    width: 43%;
    height: 750px;
}

.termo2{
    width: 50%;
    height: 750px;
}

.termoFoto1{
    height: 340px;
    margin: 65px 10px 100px 160px;
}

.termo2 h3{
    font-size: 32px;
    margin-bottom: 20px;
}

.termoDibujo{
    height: 450px;
}

.termoFoto1{
    height: 450px;
    margin: 0;
}

.termo1 p{
    font-size: 17px;
    padding-left: 200px;
}

.termoCards{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 100px;
}

.termoCardsFlex{
    display: flex;
    justify-content: space-evenly;
}

.termocard{
    margin-top: 75px;
    margin-bottom: 75px;
    border: none;
    align-items: center;
    text-align: center;
}

.termocard img{
    height: 60px;
    width: 60px;
}

.picinaInicio{
    width: 100%;
    height: 600px;
}

.colectoresFoto1{
    height: 325px;
    margin: 65px 40px 100px 100px;
}

#colectoresP{
    font-size: 17px;
}

.picinasmitad1{
    width: 45%;
    height: 550px;
}

.picinasmitad2{
    width: 45%;
    height: 550px;
}

.Aerotermia{
    padding-right: 50px;
}

.colectoresFoto2{
    height: 315px;
    margin: 55px 40px 50px -30px;
}

#pi{
    padding-left: 100px;
}

.extende{
    font-size: 17px;
    font-style: italic;
    margin-left: 10%;
}

.graficosDeTorta{
    width: 90%;
    margin-left: 0px;
}

.esquema{
    margin-left: 170px;
    padding-left: 0;
    margin-top: 150px;
    margin-bottom: 25px;
    width: 500px;
    font-size: 30px;
}

.esquema1{
    margin-left: 100px;
    padding-left: 0;
    margin-top: 150px;
    margin-bottom: 25px;
    width: 500px;
    font-size: 30px;
}

.graficosDeCasa{
    height: 650px;
    margin: 50px 100px 50px 150px;
}

.bombeoInicio{
    width: 100%;
}

.contenedorBombeo{
    width: 80%;
    height: 600px;
    margin: 40px 150px 50px 150px;
}

.bomber{
    display: flex;
}

.divBombeo{
    height: 270px;
    width: 500px;
    margin: 20px 20px 0px 25px;
}

.divBombeo img{
    height: 270px;
    width: 100%;
}

.divBombeo p{
    margin-left: 20px;
    font-size: 15px;
}

.graficoEsquema{
    height: 700px;
    width: 1100px;
    margin-left: 170px;
    margin-bottom: 50px;
}

.cardProyectoCel{
    display: flex;
    justify-content: space-evenly;
}

.cardProyectos{
    border: none;
    margin-bottom: 50px;
}


@media only screen and (max-width: 500px) {
    * {
        overflow-x: hidden; }

    /*index!!!*/

    .logo{
        margin-left: 5px;
        height: 30px;
    }

    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(236, 229, 229)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-toggler{
        border: none;
        top: 5px;
        right: 5px;
    }
    
    .navItem1{
        margin: 5px 0px 0px 0px;
        width: 180px;
    }
    
    .navItem1 ul li a{
        font-size: 12px;
        width: 100%;
        padding-left: 5px;
    }

    .navItem3{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .navItem3 a{
        border: none;
        width: 0px;
        height: 0px;
        border-radius: 0%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .navItem2{
        margin: 0px 0px 0px 0px;;
    }

    .navItem2 a{
        border: none;
        width: 0px;
        height: 0px;
        border-radius: 0%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .carouselImg{
    width: 550px;
    }

    .textoFotoPortada{
        margin-top: -180px;
        text-align: center;
        width: 50%;
        font-size: 20px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 50px;
    }

    .textoFotoPortada img{
        height: 55px;
        margin-right: -20px;
    }

    .informacion{
        margin: -60px 30% 0px 30%;
    }

    .circles{
        height: 1120px;
    }

    .circlesCards{
        display: block;
    }

    .card{
        display: block;
        margin-left: 40px;
    }

    .card1 img{
        height: 70px;
        width: 70px;
    }

    .card1{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .card1 h5{
        font-size: 15px;
    }

    .card1 p{
        font-size: 13px;
    }

    .informacion2{
        margin-left: 110px;
    }

    #scott{
    height: 150px;
    }

    .beneficiosH2{
    margin-top: 100px;
    font-size: 20px;
    }

    .cards2{
        height: 670px;
        margin-bottom: -20px;
    }

    .card2{
        margin: 50px 10px 50px 10px;
        padding: 0;
        
    }

    .card2 img{
    height: 100px;
    width: 80px;
    }

    .cardBody{
        padding: 0;
    }

    .card2 p{
        font-size: 13px;
    }

    #scott2{
        height: 150px;
    }

    .soluciones{
    height: 950px;
    }

    .solucionesH2{
    margin-top: 100px;
    font-size: 25px;
    }

    .cards3Soluciones{
    display: block;
    }

    .card3{
    margin-top: 50px;
    margin-bottom: 50px;
    }

    .card3 h5{
        font-size: 18px;
    }

    .containerContacto{
        display: block;
        height: 1100px;
    }
    
    .bloque1{
        width: 100%;
        height: 250px;
    }
    
    .bloque1 img{
        width: 100%;
        height: 250px;
    }
    
    .bloque2{
        background-color: white;
        width: 100%;
        height: 700px;
    }

    footer{
        margin-top: -100px;
        width: 100%;
        height: 460px;
    }

    .logo2{
    height: 25px;
    margin-left: 15px;
    margin-right: 50px;
    margin-top: 15px;
    }

    .aFooter{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 20px;
    }

    .aFooter2{
    display: block;
    width: 900%;
    margin-left: 10px;
    color: #7F7F7F;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 50px;
    }

    .aFooter2 div a svg {
    margin: 0px 20px 10px 10px;
    }

    .derechos{
    font-size: 10px;
    margin-bottom: 10px;
    }

    /*Nosotros!!!!! */


.conteinerPortadaNosotros{
    height: 400px;
}

.imgNosotros{
    height: 400px;
    width: 900px;
    margin-left: -300px;
}

.containerSomos{
    height: 1200px;
}

.cardProyectoCel{
    display: block;
    height: 1190px;
}

#spaceFooterProyectos{
    height: 70px;
}


/*fotovoltaica*/

.fotovoltaica{
    margin-top: 100px;
    margin-left: 0px;
}

.containerOnGrid{
    display: block;
}

.mitad1{
    width: 100%;
    height: 350px;
}

.ongridFoto1{
    height: 310px;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.mitad2{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 1300px;
}

.mitad2 p{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    }

.mitad4{
    width: 100%;
    height: 1100px;
    margin: 0;
    margin-top: 550px;
    padding-left: 20px;
    padding-right: 20px;
}

.mitad4 p{
    width: 100%;
    height: 1000px;
    }

.mitad3{
    width: 100%;
    height: 520px;
    margin-top: -1700px;
    position: absolute;
}

.ongridFoto3{
    height: 500px;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.mitad5{
    width: 100%;
    height: 300px;
    margin-top: 0px;
}

.ongridFoto5{
    margin: 50px 0px 20px 0px;
    width: 100%;
    height: 220px;
}

.mitad6{
    width: 100%;
    height: 1400px;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.informacion3{
    margin-left: 100px;
    margin-bottom: 50px;
}

/*Termotanque*/
.termotanqueInicio{
    height: 250px;
}
 .termotanques{
    margin-top: 50px;
 }

.termo1{
    width: 100%;
    height: 1050px;
    margin-top: 400px;
}

.termo2{
    width: 100%;
    height: 750px;
    position: absolute;
    margin-top: -1500px;
}

.termoFoto1{
    height: 220px;
    margin: 0px 10px 0px 10px;
}

.termoDibujo{
    height: 250px;
}

.termo1 p{
    padding-left: 20px;
    padding-right: 20px;
}

.termoCards{
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.termoCardsFlex{
    display: block;
}

/*picinas*/

.picinaInicio{
    height: 300px;
    width: 100%;
}

#clima{
    margin-top: 50px;
}

.picinasmitad1{
    width: 100%;
    height: 250px;
    margin-left: 0px;
    margin-right: 0px;
}

.colectoresFoto1{
    height: 250px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.picinasmitad2{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 800px;
}

#colectoresP{
    margin-left: 0px;
    padding-left: 0px;
}

#pi{
    padding-left: 20px;
    margin-top: 300px;
    height: 650px;
}

.colectoresFoto2{
    position: absolute;
    margin-top: -900px;
    height: 200px;
    margin-left: 0px;
}

.extende{
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
}

.graficosDeTorta{
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.esquema1{
    width: 100%;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 25px;
}

.graficosDeCasa{
    height: 250px;
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
}

/*Bombeo solar*/
.bombeoInicio{
    height: 300px;
}

#bomb{
    margin-top: 20px;
    margin-bottom: 50px;
}

.contenedorBombeo{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 950px;
}

.bomber{
    display: block;
}

.divBombeo{
    height: 300px;
    width: 90%;
    margin: 5px 20px 5px 20px;
}

.divBombeo img{
    height: 250px;
    width: 100%;
}

.divBombeo p{
    height: 270px;
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
}


.esquema{
    margin-left: 20px;
    margin-top: 0;
    font-size: 25px;
}

.graficoEsquema{
    height: 250px;
    margin-left: 0;
    width: 100%;
}

.cardProyectos{
    margin: 40px 30px 0px 30px;
}

}

@media only screen and (min-width: 501px) and (max-width: 1023px) {
    * {
        overflow-x: hidden; }

    /*Index!!*/
    .logo{
        margin-left: 5px;
        height: 30px;
    }

    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(236, 229, 229)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-toggler{
        border: none;
        margin-left: 56%;
    }
    
    .navItem1{
        margin: 5px 0px 0px 0px;
        width: 300px;
    }

    .navItem1 ul li a{
        font-size: 15px;
        width: 100%;
        padding-left: 20px;
    }

    .navItem3{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .navItem3 a{
        border: none;
        width: 0px;
        height: 0px;
        border-radius: 0%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .navItem2{
        margin: 0px 0px 0px 0px;;
    }

    .navItem2 a{
        border: none;
        width: 0px;
        height: 0px;
        border-radius: 0%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .textoFotoPortada{
        margin-top: -250px;
        text-align: center;
        width: 50%;
        font-size: 20px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 25%;
    }

    .textoFotoPortada img{
        height: 55px;
    }

    #info{
        margin: -100px 40% 0px 40%;
    }

    .soluciones{
        height: 700px;
        }

        .containerContacto{
            display: block;
            height: 1000px;
        }
        
        .bloque1{
            width: 100%;
            height: 250px;
        }
        
        .bloque1 img{
            width: 100%;
            height: 250px;
        }
        
        .bloque2{
            background-color: white;
            width: 100%;
            height: 700px;
        }

    /*Nosotros!!*/

    .conteinerPortadaNosotros{
        height: 400px;
    }
    
    .imgNosotros{
        height: 400px;
        width: 100%;
    }
    
    .containerSomos{
        height: 900px;
    }
    
    footer{
        height: 500px;
        width: 100%;
    }
    
    
    /*fotovoltaica*/

    .fotovoltaica{
        margin-top: 100px;
        margin-left: 0px;
    }

    .containerOnGrid{
        display: block;
    }

    .mitad1{
        width: 100%;
        height: 550px;
    }

    .ongridFoto1{
        height: 510px;
        width: 100%;
        margin: 0px 10px 0px 0px;
    }

    .mitad2{
        width: 100%;
        padding-left: 0px;
        padding-right: 20px;
        height: 800px;
    }

    .mitad4{
        width: 100%;
        height: 800px;
        margin: 0;
        margin-top: 550px;
        padding-left: 0px;
        padding-right: 20px;
        padding-top: 50px;
    }

    .mitad3{
        width: 100%;
        height: 700px;
        margin-top: -1500px;
        position: absolute;
    }

    .ongridFoto3{
        height: 700px;
        width: 100%;
        margin: 0px 0px 0px 0px;
    }

    .mitad5{
        width: 100%;
        height: 500px;
        margin-top: 0px;
    }

    .ongridFoto5{
        margin: 50px 0px 20px 0px;
        width: 100%;
        height: 400px;
    }

    .mitad6{
        width: 100%;
        height: 700px;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 20px;
    }

    .informacion3{
        margin-left: 300px;
        margin-bottom: 100px;
    }




    /*Termotanque*/
.termotanqueInicio{
    height: 400px;
}
 .termotanques{
    margin-top: 50px;
 }

.termo1{
    width: 100%;
    height: 1050px;
    margin-top: 800px;
}

.termo2{
    width: 100%;
    height: 750px;
    position: absolute;
    margin-top: -1900px;
}

.termoFoto1{
    height: 500px;
    margin: 0px 10px 0px 10px;
}

.termoDibujo{
    height: 500px;
}

.termo1 p{
    padding-left: 150px;
    padding-right: 20px;
    font-size: 25px;
}

.termoCards{
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 20px;
}


/*picinas*/

.picinaInicio{
    height: 600px;
}

#clima{
    margin-top: 50px;
}

.picinasmitad1{
    width: 100%;
    height: 540px;
}

.colectoresFoto1{
    height: 500px;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.picinasmitad2{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    font-size: 25px;
    height: 600px;
}

.picinasmitad2 p{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    }

#colectoresP{
    font-size: 20px;
    margin-left: 0px;
    padding-left: 0px;
}

#pi{
    padding-left: 0px;
    margin-top: 500px;
    height: 650px;
}

.colectoresFoto2{
    position: absolute;
    margin-top: -1100px;
    height: 400px;
    margin-left: 0px;
}

.extende{
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
}

.graficosDeTorta{
    width: 95%;
    margin-left: 0;
    padding-left: 10px;
}

.esquema1{
    width: 100%;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 25px;
}

#picinasmitad11{
    height: 100px;
}

.graficosDeCasa{
    height: 500px;
    margin-left: 0px;
}





/*Bombeo solar*/
.bombeoInicio{
    height: 500px;
}

#bomb{
    margin-top: 20px;
    margin-bottom: 50px;
}

.contenedorBombeo{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 1600px;
}

.bomber{
    display: block;
}

.contenedorBombeo{
    margin-right: 0px;
}

.divBombeo{
    height: 500px;
    width: 100%;
    margin: 5px 0px 5px 120px;
    padding: 0px 0px 0px 0px;
}

.divBombeo p{
    width: 100%;
    height: 410px;
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-size: 30px;
}

.divBombeo img{
    height: 300px;
    width: 100%;
}

.esquema{
    margin-left: 20px;
    margin-top: 0;
    font-size: 25px;
}

.graficoEsquema{
    height: 250px;
    margin-left: 0;
    width: 100%;
}

.cardProyectos{
    margin: 40px 30px 0px 30px;
}

}

@media only screen and (min-width: 1024px) {

}